.Cart-item,
.Cart-priceCount {
  margin-bottom: 1em;
  background: rgb(246, 248, 250);
  padding: 1em;
}

.Cart-item__addButton,
.Cart-item__removeButton {
  width: 2em;
  height: 2em;
  border: none;
  background: orange;
  margin-top: 1em;
}

.Cart-item__addButton {
  margin-right: 1em;
}

.Cart-priceRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.Cart-item__checkoutButton {
  padding: 1em;
  border: none;
  background: orange;
  margin-top: 1em;
}
