.Page {
  max-width: 1600px;
  margin: 0 auto;
  background: white;
  flex-grow: 1;
  padding: 1em;
}

.Page-title {
  margin-bottom: 0.5em;
  color: orange;
}

.Page-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media (min-width: 600px) {
  .Page-display {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .Page-display {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
