.Page {
  max-width: 1600px;
  margin: 0 auto;
  background: white;
  flex-grow: 1;
  padding: 20px;
}

.Page__title {
  margin-bottom: 20px;
  color: orange;
}

.Page__display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 600px) {
  .Page__display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (min-width: 900px) {
  .Page__display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
