.Product {
  background: white;
  box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 15px 0px;
  position: relative;
  width: 100%;
}

.Product__image {
  width: 100%;
}

.Product__summary {
  padding: 1.25em;
}

.Product__brand {
  font-size: 1.25em;
}

.Product__details {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.25em;
  background: transparent;
}

.Product__button {
  border: none;
  padding: 0.625em;
  margin-top: 1.25em;
  background: orange;
}
