.Product {
  background: white;
  box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 15px 0px;
  position: relative;
  width: 100%;
}

.Product__image {
  width: 100%;
}

.Product__summary {
  padding: 20px;
}

.Product__details {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
  background: transparent;
  /* background: rgb(246, 248, 250); */
}

.Product__button {
  border: none;
  padding: 10px;
  margin-top: 20px;
  background: orange;
  /* box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 15px 0px; */
}

@media (min-width: 600px) {
  .Product {
    width: 280px;
  }
}
