.Header-slidemenu__search {
  width: 100%;
  position: relative;
  margin-top: calc(20px + 0.5vmin);
}

.Header-slidemenu__search-field {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: none;
  background: rgb(246, 248, 250);
}

.Header-slidemenu__search-field:focus {
  outline: none;
}

.Header-slidemenu__search-icon {
  position: absolute;
  top: 11.5px;
  right: 15px;
}
