.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  flex-shrink: 0;
  font-family: "Raleway", sans-serif;
  background: orange;
}

.Header-nav {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 15px 0px;
}

.Header-nav__left,
.Header-nav__right {
  display: flex;
  align-items: center;
  height: 1em;
}

.Header-nav__burger {
  display: flex;
  align-items: center;
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}

.Header-nav__brand {
  white-space: nowrap;
  height: 1em;
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  text-align: center;
}

.Header-nav__icon {
  width: 1em;
  height: 1em;
}

.Header-nav__icon:hover {
  opacity: 0.5;
}

.Header-nav__homeLink {
  text-decoration: none;
  color: black;
}

.Header-nav__iconLink {
  display: flex;
  align-items: center;
  position: relative;
  height: 1em;
}

.Header-nav__iconLink:first-child {
  margin-right: 0.5em;
}

.Header-nav__iconLink-badge {
  width: 1em;
  height: 1em;
  font-size: 0.75em;
  position: absolute;
  top: -0.5em;
  right: 0.75em;
  color: black;
  background: rgba(255, 165, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-search {
  width: 100%;
  position: relative;
  padding: 1em;
}

.Header-search__field {
  width: 100%;
  padding: 1em;
  border: none;
}

.Header-search__field:focus {
  outline: none;
}

.Header-search__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5em;
  width: 1em;
  height: 1em;
  opacity: 0.5;
}

.Header-slideMenu {
  position: fixed;
  background: orange;
  width: 100%;
  top: 3em;
  bottom: 0;
  padding: 1em;
  left: -100%;
  z-index: 1;
  transition: top 0.7s ease;
  display: flex;
  flex-direction: column;
}

.Header-slideMenu__item {
  text-decoration: none;
  color: white;
}

.Header-slideMenu__item + .Header-slideMenu__item {
  margin-top: 1.25em;
}

.Header-slideMenu__item:hover {
  opacity: 0.5;
}

.Header-slidemenu__login {
  display: flex;
  align-items: center;
}

.Header-slidemenu__icon {
  filter: invert(100%);
  margin-right: 0.5em;
}

@media (min-width: 350px) {
  .Header-nav__burger {
    margin-right: 0.75em;
  }

  .Header-nav__iconLink:first-child {
    margin-right: 0.75em;
  }
}

@media (min-width: 600px) {
  .Header-search {
    max-width: 600px;
    margin: 0 auto;
  }
}
