.Header {
  flex-shrink: 0;
  padding: 64px 20px 0 20px;
  font-family: "Raleway", sans-serif;
  background: orange;
}

.Header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 20px;
  font-size: 24px;
  box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 15px 0px;
  display: flex;
  justify-content: space-between;
  background: white;
}

.Header-nav__left,
.Header-nav__right {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 12px;
  height: 24px;
}

.Header-nav__burger {
  height: 24px;
}

.Header-nav__brand {
  white-space: nowrap;
  height: 24px;
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.Header-nav__icon:hover {
  opacity: 0.5;
}

.Header-nav__homeLink {
  text-decoration: none;
  color: black;
}

.Header-nav__iconLink,
.Header-nav__iconLink {
  position: relative;
}

.Header-nav__iconLink-badge {
  width: 16px;
  height: 16px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: 16px;
  color: black;
  background: rgba(255, 165, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-search {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.Header-search__field {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: none;
}

.Header-search__field:focus {
  outline: none;
}

.Header-search__icon {
  position: absolute;
  top: 11.5px;
  right: 15px;
}

.Header-slideMenu {
  position: fixed;
  background: orange;
  width: 100%;
  top: 64px;
  height: 100%;
  padding: 20px;
  left: -100%;
  z-index: 1;
  transition: top 0.7s ease;
  display: flex;
  flex-direction: column;
}

.Header-slideMenu__item {
  text-decoration: none;
  color: white;
  font-size: calc(20px + 0.5vmin);
}

.Header-slideMenu__item + .Header-slideMenu__item {
  margin-top: calc(20px + 0.5vmin);
}

.Header-slideMenu__item:hover {
  opacity: 0.5;
}

.Header-slidemenu__login {
  display: flex;
  gap: 12px;
}

.Header-slidemenu__icon {
  filter: invert(100%);
}

@media (min-width: 600px) {
  .Header-search {
    max-width: 600px;
    margin: 20px auto 0 auto;
  }

  .Header-slideMenu {
    width: 50%;
  }
}
