.Footer {
  flex-shrink: 0;
  background: white;
  padding: 1em;
}

.Footer-inner {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.Footer-copyright {
  text-align: center;
  font-size: 0.75em;
}

.Footer-socialMedia {
  display: flex;
  height: 1em;
  margin-bottom: 0.75em;
}

.Footer-socialMedia__link + .Footer-socialMedia__link {
  height: 1em;
  margin-left: 0.5em;
}

.Footer-socialMedia__icon {
  width: 1em;
  height: 1em;
}

.Footer-socialMedia__icon:hover {
  opacity: 0.5;
}

@media (min-width: 600px) {
  .Footer-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .Footer-socialMedia {
    margin-bottom: 0;
  }
}
