.Footer {
  flex-shrink: 0;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.Footer-copyright {
  font-size: 12px;
  text-align: center;
}

.Footer-socialMedia {
  display: flex;
  height: 24px;
  margin-bottom: 15px;
}

.Footer-socialMedia__link + .Footer-socialMedia__link {
  margin-left: 18px;
}

.Footer-socialMedia__icon:hover {
  opacity: 0.5;
}

@media (min-width: 600px) {
  .Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Footer-socialMedia {
    margin-bottom: 0;
  }
}
