h1 {
  font-size: 24px;
  margin-bottom: 12px;
}

.backlink {
  display: block;
  margin-bottom: 16px;
}

.slide-menu {
  position: fixed;
  background: #333;
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 20px;
  left: -100%;
  transition: left 0.7s ease;
}

.slide-menu-open {
  left: 0%;
}

.slide-menu__close {
  filter: invert(100%);
}

.slide-menu__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-menu__link {
  color: #fff;
}

.slide-menu__link:hover {
  text-decoration: underline;
}

.slide-menu__link + .slide-menu__link {
  margin-top: 16px;
}

hr {
  width: 50%;
  margin: 20px auto;
  height: 1px;
  border: none;
  background-color: #eee;
}

.slide-menu__login {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slide-menu__login-icon {
  filter: invert(100%);
  width: 16px;
  height: 16px;
}

.slide-menu-search {
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.slide-menu-search__field {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
}
.slide-menu-search__field:focus {
  outline: none;
}

.slide-menu-search__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  right: 10px;
  bottom: 10px;
}

@media (min-width: 600px) {
  .slide-menu {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .slide-menu {
    width: 37.5%;
  }
}

@media (min-width: 1200px) {
  .slide-menu {
    width: 25%;
  }
}
